*{
  border:solid red 2px;
}

header{
  margin:auto;
  text-align:center;
  padding:.02vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(50, 4, 130);
  background-color:plum;
font-size:2vw;
}

.flex-container1{
  display:flex;
  justify-content:space-around;
}

#flex-item1{
  width: 20%;
  line-height: 25px;
  background-color: blue;
  padding-right: 2vw;
  border:solid black;
}

a{
	text-decoration: none;
  color:white;
}

li{
	list-style-type: none;
	font-size: 2vw;
  text-align: left;
  border:solid pink 2 px;
}


ul{
  border:solid gray 2 px;
}















/**header{
    margin:auto;
    text-align:center;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(50, 4, 130);
    background-color:plum;
  font-size:2vw;
  border-radius: 30px;
}

#flex-item1{
  width: 20%;
  line-height: 25px;
  margin-right: 2vw;
}
li{

	list-style-type: none;
	margin: 1vw;
	font-size: 2vw;
  text-align: left;
}
ul{
	background-color:purple;
}

a{
	text-decoration: none;
  color:white;
}

.flex-container1{
    display:flex;
    justify-content:space-around;
}
.flex-item1{
    background-color:blueviolet;
  color:white;
  border-radius: 30px;
     width: 100%;
  margin: 10px;
  text-align: center;
  flex:65%;
  height:65%;
}

  
.flex-item2{
    display:flex;
    flex-direction:column;
    width:50%;
  padding:2vw;
  }

.flex-item2a{
  height:auto;
  text-align:center;
  font-size: 1.5vw;
  background-color:green;
  color:white;
  margin-bottom:2vw;
  border-radius: 30px;
}

.flex-item2b{
  height:auto;
   background-color:blue;
  color:white;
  border-radius: 30px;
  padding:2vw;
}

.flex-item2b h2{
    font-size: 2vw;
  }

.flex-item2b p{
    font-size: 1.5vw;
  }

